.App {
  text-align: center;
  display:grid;
  vertical-align: top;
  justify-content: center;
  padding: 50px;
  height: auto;
  position: relative; 
  overflow: hidden;
}
/* .App::before {
  content: '';
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.bmw.ua/content/dam/bmw/marketB4R1/bmw_ua/topics/offers-and-services/stock-locator/range_locator_xxl.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(30px); 
  z-index: -1;
} */


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#LabelEnterNum{
  color: aliceblue;
}

.passwordHelp{
  color:white;
}

.containerSearch{
  display: flex;
  gap:10px;
}
.but_comp {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  bottom: 20px;
  left: 1100px;
  z-index: 1000; 
  margin-left: 10%;
  align-self: right;

  &:hover {
    background-color: #45a049;
  }
}

.button-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button-container.visible {
  opacity: 1;
}